<section id="about" class="px-10 grid grid-cols-3 items-start gap-5">
  <div class="flex items-center space-x-5 col-span-3 md:col-span-1">
    <div class="w-10 h-0 border opacity-50" />
    <h1 class="col-span-1 font-semibold">FLY WITH US</h1>
  </div>
  <p
    class="col-span-3 md:col-span-2 sm:text-2xl text-lg leading-normal"
  >
  “This text is going to be a charismatic masterpiece.
  It will capture hearts, take souls and solve world hunger.
  The reader will keep this in mind forever. This is the peak.”
  </p>
</section>
