<div class="flex flex-col gap-3">
  <img
    class="bg-hero-image w-full aspect-square bg-[#E0E0D1] rounded-xl"
  />
  <div class="flex gap-3 w-full">
    <img
      class="bg-hero-image aspect-video w-full bg-[#E0E0D1] rounded-xl"
    />
    <img
      class="bg-hero-image aspect-video w-full bg-[#E0E0D1] rounded-xl"
    />
    <div
      class="bg-hero-image aspect-video w-full bg-[#E0E0D1] rounded-xl flex justify-center items-center"
    >
      <button
        class="hover:cursor-pointer p-2 px-5 bg-dark/50 rounded-xl text-gray-100 text-sm transition-shadow hover:shadow-lg"
        >show all
      </button>
    </div>
  </div>
</div>