<section
  class="px-10 grid grid-cols-3 gap-15"
>
  <div class="flex flex-col space-y-2 max-w-md">
    <p class="text-5xl font-bold">2</p>
    <p class="font-light">
      <span class="font-medium">
        professional Pilots with years of experience
      </span>
      in tandem paragliding. Safety is our top priority, your flight will be smooth
      and safe!
    </p>
  </div>

  <div class="flex flex-col space-y-2">
    <p class="text-5xl font-bold">800+</p>
    <p class="font-light">
      <span class="font-medium">satisfied adventurers</span>
      just like yourself!
    </p>
  </div>

  <div class="flex flex-col space-y-2">
    <p class="text-5xl font-bold">6+</p>
    <p class="font-light">
      <span class="font-medium">stunning flying areas in South Tyrol</span>,
      each providing a unique and breathtaking view.
    </p>
  </div>
</section>
