---
import { Quote } from "lucide-astro";
---

<div class="h-50 w-80 min-w-80 shadow-md rounded-xl p-5 bg-white">
  <Quote style="fill: #EDD714; stroke: #EDD714; transform: rotate(180deg)" />
  <p class="font-semibold mt-5">I love the product! It's so easy to use and it's made my life so much easier.</p>
  <p class="text-sm mt-5">- Jane Doe</p>
</div>