<section class="grid grid-cols-1 lg:grid-cols-4 h-full px-10">
  <!-- Video Section -->
  <div
    class="relative overflow-hidden lg:col-span-3 rounded-t-xl lg:rounded-l-xl lg:rounded-t-none"
  >
    <video
      autoplay
      loop
      muted
      preload="auto"
      class="w-full h-auto rounded-t-xl lg:rounded-l-xl sm:rounded-t-none"
    >
      <source src="vid/plose_slow.mp4" type="video/mp4" />
    </video>
  </div>

  <!-- Text Section -->
  <div
    class="flex flex-col justify-between lg:col-span-1 bg-dark rounded-b-xl lg:rounded-r-xl lg:rounded-l-none py-10 px-5"
  >
    <div>
      <p class="text-primary text-xs mb-5"><i>our flying areas</i></p>
      <h4
        class="font-semibold font-display text-neutral-100 text-4xl tracking-wide mb-10"
      >
        PLOSE
      </h4>
      <p class="text-neutral-100 font-light">
        <span class="hidden xl:block">
          Our main flying area.
          <br /><br />
        </span>
        Plose is a fantastic choice for your tandem flight, offering sweeping views
        of the majestic Dolomites and the picturesque town of Brixen.
      </p>
    </div>
    <div class="flex items-end leading-6 gap-3 self-end">
      <span class="text-sm text-neutral-400 font-light">starting at</span>
      <span class="text-primary leading-none text-4xl font-semibold opacity-100"
        >€ 100</span
      >
    </div>
  </div>
</section>
